 * {
     box-sizing: border-box;
 }
 

 body {
     background-color:  rgb(143, 131, 131);;
     margin:auto;
     min-height: 100%;
     font-family: 'Sansita Swashed', cursive;
 }

 .title {
     background-color: rgb(59, 59, 122);
     color: rgb(143, 131, 131);
     padding: 20px 15px;
     text-align: center;
     width: 100%;
     margin: 0 auto;
     font-weight: 100;
 }
 
 
 #search {
    background-image: url(../img/photos/search-icon.jpg) ;
    background-position: 98%;
    background-repeat: no-repeat;
    padding: 10px 2%;
    margin: 20px;
    border: 3px solid #ddd;
    border-radius: 10px;
    width: 47%;
    font-size: 1rem;
}

.search {
    display: flex;
    justify-content: center;
}

::placeholder {
    text-align: left;
    margin-left:20% ;
}

.gallery {
    max-width: 80%;
    min-height: calc(100vh - 84px - 18px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
}

.gallery img {
    border-radius: 5px;
}


 .gallery img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.75rem rgb(17, 16, 16));

} 

footer  {
    display: grid;
    width: 100%;
    text-align: center;
    color:rgb(143, 131, 131);
    background-color: rgb(59, 59, 122);
    padding: 15px;
    margin-top: 10%;
}

