 * {
     box-sizing: border-box;
 }
 

 body {
     width: 80%;
     margin:auto;
     min-height: 100%;
 }
 
 
 #search {
    background-image: url(../img/photos/search-icon.jpg) ;
    background-position: 98%;
    background-repeat: no-repeat;
    padding: 10px 2%;
    margin: 20px;
    border: 3px solid #ddd;
    border-radius: 10px;
    width: 60%;
    font-size: 1rem;
}

.search {
    display: flex;
    justify-content: center;
}

::placeholder {
    text-align: left;
    margin-left:20% ;
}

.gallery {
    max-width: 80%;
    min-height: calc(100vh - 84px - 18px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
}

footer  {
    display: grid;
    text-align: center;
    color:rgb(143, 131, 131);
    margin-top: 10%;
}

